{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page text-center">Booked Meeting Room</h2>
    </div> <!-- container //  -->
    </section>
    <!-- ========================= SECTION INTRO END// ========================= -->
    
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y">
    <div class="container">
    
    <div class="row">
        <main class="col-md-9">
    

    <div class="row">
        {% for booking in user_booking %}
        <div class="col-md-4">
            <figure class="card card-product-grid">
                <div class="img-wrap"> 
                    
                    <img src="{{ booking.room.images.url }}">
                    
                </div> <!-- img-wrap.// -->
                
                <figcaption class="info-wrap">
                    <p>{{ booking.booking_date }}</p>
                    <p>{{ booking.booking_time }}</p>
                    <div class="fix-height">
                        <a href="#" class="title">{{ booking.room.name }}</a>
                        <small>{{ booking.room.address }}</small>
                    </div>
                    <a href="{% url 'cancel_booking' %}" class="btn btn-block btn-danger">Cancel Booking </a>
                </figcaption>
            </figure>
        </div> <!-- col.// -->
        {% endfor %}
    </div> <!-- row end.// -->

        </main> <!-- col.// -->
    
    </div>
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    {% endblock %}